:root {
  --color--news-page-bg: #ffffff;
  --color--news-hero-bg: #f4f4f8;
  --color--news-title-text: #1d1d21;
  --color--news-breadcrumb-text: #2a2a31;
  --color--news-breadcrumb-link: #2a2a31;
  --color--news-card-bg: #ffffff;
  --color--news-card-border: #ececf3;
  --color--news-card-title: #9a77cc;
  --color--news-card-date: #1d1d21;
  --color--news-card-overlay: rgba(143, 33, 201, 0.4);
  --color--news-load-more-bg: #8f21c9;
  --color--news-load-more-text: #ffffff;
  --color--news-text: #222222;

  --font-size--news-title: var(--font-size--title-hero);
  --font-size--news-title-mobile: var(--font-size--title-hero-mobile);
  --font-size--news-breadcrumbs: var(--font-size--breadcrumbs);
  --font-size--news-breadcrumbs-mobile: var(--font-size--breadcrumbs-mobile);
  --font-size--news-card-title: var(--font-size--text-xl);
  --font-size--news-card-title-mobile: var(--font-size--text-md);
  --font-size--news-card-date: var(--font-size--text-base);
  --font-size--news-card-date-mobile: var(--font-size--text-base-mobile);
  --font-size--news-load-more: var(--font-size--button-sm);
  --font-size--news-text: var(--font-size--text-xl);
  --font-size--news-text-mobile: var(--font-size--text-base);
}
