:root {
    --color--footer-bg: var(--color--purple);
    --color--footer-surface: var(--color--black);
    --color--footer-text: var(--color--white);
    --color--footer-title: var(--color--white);
    --color--footer-muted: var(--color--white);
    --color--footer-accent: var(--color--white);
    --color--footer-social: var(--color--white);

    --font-size--footer-title: var(--font-size--subtitle-sm);
    --font-size--footer-link: var(--font-size--text-base);
    --font-size--footer-bottom: 13px;
}
