:root {
  --color--app-carousel-bg: #ffffff;
  --color--app-carousel-title: #121217;
  --color--app-carousel-nav-bg: rgba(26, 26, 31, 0.72);
  --color--app-carousel-nav-icon: #ffffff;
  --color--app-carousel-button-bg: #8e24c6;
  --color--app-carousel-button-text: #ffffff;

  --font-size--app-carousel-title: 42px;
  --font-size--app-carousel-title-mobile: 30px;
  --font-size--app-carousel-button: 28px;
  --font-size--app-carousel-button-mobile: 20px;
}
