:root {
  --color--app-carousel-bg: var(--color--white);
  --color--app-carousel-title: var(--color--black);
  --color--app-carousel-nav-bg: var(--color--overlay-strong);
  --color--app-carousel-nav-icon: var(--color--white);
  --color--app-carousel-button-bg: var(--color--purple);
  --color--app-carousel-button-text: var(--color--white);

  --font-size--app-carousel-title: var(--font-size--title-section);
  --font-size--app-carousel-title-mobile: var(--font-size--title-section-mobile);
  --font-size--app-carousel-button: var(--font-size--button-lg);
  --font-size--app-carousel-button-mobile: var(--font-size--button-lg-mobile);
}
