:root {
  --color--articles-page-bg: var(--color--white);
  --color--articles-hero-bg: var(--color--surface);
  --color--articles-title-text: var(--color--black);
  --color--articles-breadcrumb-text: var(--color--black);
  --color--articles-breadcrumb-link: var(--color--black);
  --color--articles-card-bg: var(--color--white);
  --color--articles-card-border: var(--color--border);
  --color--articles-card-title: var(--color--purple);
  --color--articles-card-overlay: var(--color--overlay);
  --color--article-text: var(--color--black);

  --font-size--articles-title: var(--font-size--title-hero);
  --font-size--articles-title-mobile: var(--font-size--title-hero-mobile);
  --font-size--articles-breadcrumbs: var(--font-size--breadcrumbs);
  --font-size--articles-breadcrumbs-mobile: var(--font-size--breadcrumbs-mobile);
  --font-size--articles-card-title: var(--font-size--text-xl);
  --font-size--articles-card-title-mobile: var(--font-size--text-md);
  --font-size--article-text: var(--font-size--text-xl);
  --font-size--article-text-mobile: var(--font-size--text-base);
}
