:root {
  --color--articles-page-bg: #ffffff;
  --color--articles-hero-bg: #f4f4f8;
  --color--articles-title-text: #1d1d21;
  --color--articles-breadcrumb-text: #2a2a31;
  --color--articles-breadcrumb-link: #2a2a31;
  --color--articles-card-bg: #ffffff;
  --color--articles-card-border: #ececf3;
  --color--articles-card-title: #9a77cc;
  --color--articles-card-overlay: rgba(143, 33, 201, 0.4);
  --color--article-text: #222222;

  --font-size--articles-title: 72px;
  --font-size--articles-title-mobile: 42px;
  --font-size--articles-breadcrumbs: 16px;
  --font-size--articles-breadcrumbs-mobile: 14px;
  --font-size--articles-card-title: 24px;
  --font-size--articles-card-title-mobile: 20px;
  --font-size--article-text: 24px;
  --font-size--article-text-mobile: 18px;
}
