:root {
  --color--articles-page-bg: #ffffff;
  --color--articles-hero-bg: #f4f4f8;
  --color--articles-title-text: #1d1d21;
  --color--articles-breadcrumb-text: #2a2a31;
  --color--articles-breadcrumb-link: #2a2a31;
  --color--articles-card-bg: #ffffff;
  --color--articles-card-border: #ececf3;
  --color--articles-card-title: #9a77cc;
  --color--articles-card-overlay: rgba(143, 33, 201, 0.4);
  --color--article-text: #222222;

  --font-size--articles-title: var(--font-size--title-hero);
  --font-size--articles-title-mobile: var(--font-size--title-hero-mobile);
  --font-size--articles-breadcrumbs: var(--font-size--breadcrumbs);
  --font-size--articles-breadcrumbs-mobile: var(--font-size--breadcrumbs-mobile);
  --font-size--articles-card-title: var(--font-size--text-xl);
  --font-size--articles-card-title-mobile: var(--font-size--text-md);
  --font-size--article-text: var(--font-size--text-xl);
  --font-size--article-text-mobile: var(--font-size--text-base);
}
